
body {
	background: #231F20 url("savethedate_illustration@4600_60_02.jpg") no-repeat;
	background-size:cover;
	font-family: 'Vollkorn', serif;
	color:#FFF;
	text-align:center;
	margin:auto;
	overflow:scroll;

}
h1 {
	font-size:16px;
	font-weight:400;	
	padding-bottom:50px;
	padding-top:20px;
	margin:auto auto 0px auto;
}

.addeventatc {
	margin-top:190px;
    display: inline-block;
    position: relative;
    z-index: 99998;
    color: #231F20!important;
    font-weight: 400;
    line-height: 100%;
    background: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 12px 22px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased!important;
    outline-color: rgba(0,78,255,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
    background-image: url(https://www.addevent.com/gfx/icon-calendar-t5.png), url(https://www.addevent.com/gfx/icon-calendar-t1.svg), url(https://www.addevent.com/gfx/icon-apple-t5.svg), url(https://www.addevent.com/gfx/icon-facebook-t5.svg), url(https://www.addevent.com/gfx/icon-google-t5.svg), url(https://www.addevent.com/gfx/icon-outlook-t5.svg), url(https://www.addevent.com/gfx/icon-outlookcom-t5.svg), url(https://www.addevent.com/gfx/icon-yahoo-t5.svg);
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
}
@media screen and (min-width:1101px){
body {
	background: #231F20 url("savethedate_illustration@4600_60_02.jpg") no-repeat;		
	background-size:cover;	

}	
}
@media screen only and (max-width:1100px) and (orientation:landscape) {
body {

}	
}

@media screen and (max-width:1100px)  {
body {
	background: #231F20 url("savethedate_illustration@4600_60_02.jpg") no-repeat;		
	background-size:contain;
	max-width:100vh;

}
	
}

@media screen and (max-width:800px){
body {
	background: #231F20 url("savethedate_illustration@4600_60_02.jpg") no-repeat fixed center;	
	background-size:90%;	
	max-width:100vw;
}
}
@media screen and (max-width:600px){
body {
	background: #231F20 url("savethedate_illustration@4600_60_02.jpg") no-repeat fixed top;	
	background-size:contain;	
	max-width:100vw;
}
h1 {
	font-size:15px;
}
.addeventatc {
	margin-top:260px;
}
}
@media screen and (max-width:500px){
body {
	background: #231F20 url("savethedate_illustration@4600_60_02.jpg") no-repeat fixed top;
	background-size:cover;	
	max-width:100vw;
}
h1 {
	font-size:12px;
	padding-bottom:30px;
	padding-top:30px;	
}
#calendar {
	position:absolute;
	bottom:0px;
	padding-bottom:20px;
	margin:auto;
	left:20%;
	right:20%;
}
.addeventatc {	
    font-size: 12px;
    padding: 10px 18px;
}
}
