* {
  margin: 0;
  padding: 0;
}

body {
	background: #231F20 url(savethedate_illustration@desktop_50_02.jpg) no-repeat bottom;
	background-size:cover;
	font-family: 'Vollkorn', serif;
	color:#FFF;
	text-align:left;
}
h1, h2 {
	font-size:18px;
	font-weight:400;
	font-family: 'Vollkorn', serif;
	white-space:pre-line;
	
}
.save {	
	display:none;
}
h1 {
	margin:auto auto auto 30px;	
}
h2 {
	padding-bottom:40px;	
	margin:auto auto auto 30px;	
}
#wrap {
	position:absolute;
	bottom:0px;
	left:30px;	
}
.type {
	position:absolute;
	top:60px;
	left:30px;
	max-width:35%;
}
#calendar {
	margin:140px auto 0px 30px;
}	
.addeventatc {

	    display: inline-block;
	    position: relative;
	    z-index: 99998;
	    color: #231F20!important;
	    font-weight: 400;
	    line-height: 100%;
	    background: #cccccc;
	opacity:0.8;
	    font-size: 15px;
	    text-decoration: none;
	    border: 1px solid transparent;
	    padding: 12px 22px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    cursor: pointer;
	    -webkit-font-smoothing: antialiased!important;
	    outline-color: rgba(0,78,255,0.5);
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	    -webkit-user-select: none;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
	    background-image: url(https://www.addevent.com/gfx/icon-calendar-t5.png), url(https://www.addevent.com/gfx/icon-calendar-t1.svg), url(https://www.addevent.com/gfx/icon-apple-t5.svg), url(https://www.addevent.com/gfx/icon-facebook-t5.svg), url(https://www.addevent.com/gfx/icon-google-t5.svg), url(https://www.addevent.com/gfx/icon-outlook-t5.svg), url(https://www.addevent.com/gfx/icon-outlookcom-t5.svg), url(https://www.addevent.com/gfx/icon-yahoo-t5.svg);
	 background-position: -9999px -9999px;
	 background-repeat: no-repeat;
}
/* Button */
.addeventatc 							{display:inline-block;position:relative;font-family:"Open Sans",Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;color:#000!important;font-weight:600;line-height:100%;background:#fff;opacity:0.7;font-size:15px;text-decoration:none;border:1px solid transparent;padding:13px 12px 12px 43px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;-webkit-font-smoothing:antialiased!important;outline-color:rgba(0,78,255,0.5);text-shadow:1px 1px 1px rgba(0,0,0,0.004);-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);box-shadow:0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;}
.addeventatc:hover 						{background-color:#006666;color:#000;font-size:15px;text-decoration:none;}
.addeventatc:active 					{border-width:2px 1px 0px 1px;color:#003333;}
.addeventatc-selected 					{background-color:#f9f9f9;}
.addeventatc .addeventatc_icon 			{width:18px;height:18px;position:absolute;z-index:1;left:12px;top:10px;background:url(../gfx/icon-calendar-t1.svg) no-repeat;background-size:18px 18px;}
.addeventatc .start, .addeventatc .end, .addeventatc .timezone, .addeventatc .title, .addeventatc .description, .addeventatc .location, .addeventatc .organizer, .addeventatc .organizer_email, .addeventatc .facebook_event, .addeventatc .all_day_event, .addeventatc .date_format, .addeventatc .alarm_reminder, .addeventatc .recurring, .addeventatc .attendees, .addeventatc .calname, .addeventatc .uid, .addeventatc .status, .addeventatc .method, .addeventatc .client, .addeventatc .transp {display:none!important;}
.addeventatc br 						{display:none;}

@media screen and (min-width:1081px){
body {
	background: #231F20 url(savethedate_illustration@desktop_50_02.jpg) no-repeat top right;
	background-size:cover;

}
}
	
@media screen and (min-wdith:1080px) and (max-width:1920px)  {
body {
	background: #231F20 url(savethedate_illustration@1920-extended_01.jpg) no-repeat top;
	background-size:inherit;
	text-align:center;	
}
	
#wrap {
	left:10%;
	right:10%;	
}	
}
@media screen and (max-width:1080px)  {
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat top;
	background-size:inherit;
	text-align:center;	
}	
h1,h2 {
	margin:auto 0px auto 0px;
	font-size:20px;	
}
.type {
	position:static;	
	margin: 150px auto auto auto;
	left:30%;
	right:30%;
	max-width:40%;
	text-align:center;	
} 
.save {	
	padding-top:30px;
	margin:auto auto  0px 0px;
}
#calendar {
	margin:30px auto auto auto;
}	
#wrap {
	position:static;	
	left:10%;
	right:10%;	
}	
}

@media screen and (max-width:800px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat center;
	background-size:cover;
}
h1,h2 {
	font-size:20px;	
}
#wrap {
	left:10%;
	right:10%;	
}
.save {	
	padding-top:30px;
	margin:auto auto  0px 0px;
}	
}
@media screen and (max-width:700px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat center;
	background-size:cover;
}
h1,h2 {
	font-size:20px;	
}
#wrap {
	left:7%;
	right:7%;	
}	
}	
@media screen and (max-width:600px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat center;
	background-size:100vh;
}
h1,h2 {
	font-size:20px;	
	white-space:normal;	
}
#calendar {
	margin:140px 0px 0px 0px;
}
.save {	
	display:block;
	padding-top:60px;
	margin:auto auto 15px 0px;
	font-size:14px;	
	line-height:26px;
	font-family: 'Carrois Gothic SC', sans-serif;	
	text-transform:uppercase;
}	
.type {
	display:none;	
}	
#wrap {
	position:static;
	bottom:80px;
	left:0;
	right:0;
	margin:auto;
	width:75%;
}	
}
@media screen and (max-width:500px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat top;
    	background-size: 100vh;
}
h1,h2 {	
	margin:auto auto auto auto;
	font-size:20px;	
	white-space:normal;
}
h2 {
	padding-bottom: 0px;
}	
#wrap {
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	margin:auto;
	width:75%;
}	
}

@media screen and (max-width:400px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat top;
	background-size:100vh;
}
h1,h2 {	
	font-size:20px;	
	white-space:normal;
}		
#wrap {
	position:static;
	bottom:20px;
	left:25%;
	right:25%;
	margin:auto;		
	width:60%;
}	
}
