body {
	background: #231F20 url(savethedate_illustration@desktop_50_01.jpg) no-repeat bottom;
	background-size:cover;
	font-family: 'Vollkorn', serif;
	color:#FFF;
	text-align:left;
}
h1, h2 {
	font-size:18px;
	font-weight:400;
	font-family: 'Vollkorn', serif;	
	
}
h1 {
	padding-top:50px;
	margin:auto auto auto 40px;	
}
h2 {
	padding-bottom:40px;	
	margin:auto auto auto 40px;	
}
#wrap {
	position:absolute;
	bottom:0px;
	left:40px;	
}
.type {
	position:absolute;
	top:60px;
	left:40px;
	max-width:35%;
}
#calendar {
	margin:190px auto 0px 40px;
}	
.addeventatc {

	    display: inline-block;
	    position: relative;
	    z-index: 99998;
	    color: #231F20!important;
	    font-weight: 400;
	    line-height: 100%;
	    background: #FFFFFF;
	    font-size: 15px;
	    text-decoration: none;
	    border: 1px solid transparent;
	    padding: 12px 22px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    cursor: pointer;
	    -webkit-font-smoothing: antialiased!important;
	    outline-color: rgba(0,78,255,0.5);
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	    -webkit-user-select: none;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    box-shadow: 0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
	    background-image: url(https://www.addevent.com/gfx/icon-calendar-t5.png), url(https://www.addevent.com/gfx/icon-calendar-t1.svg), url(https://www.addevent.com/gfx/icon-apple-t5.svg), url(https://www.addevent.com/gfx/icon-facebook-t5.svg), url(https://www.addevent.com/gfx/icon-google-t5.svg), url(https://www.addevent.com/gfx/icon-outlook-t5.svg), url(https://www.addevent.com/gfx/icon-outlookcom-t5.svg), url(https://www.addevent.com/gfx/icon-yahoo-t5.svg);
	    background-position: -9999px -9999px;
	    background-repeat: no-repeat;
}
@media screen and (min-width:1081px){
body {
	background: #231F20 url(savethedate_illustration@desktop_50_01.jpg) no-repeat top right;
	background-size:cover;

}
}
	
@media screen and (min-wdith:1080px) and (max-width:1920px)  {
body {
	background: #231F20 url(savethedate_illustration@1920-extended_01.jpg) no-repeat top;
	background-size:inherit;
	text-align:center;	
}
#wrap {
	left:10%;
	right:10%;	
}	
}
@media screen and (max-width:1080px)  {
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat top;
	background-size:inherit;
	text-align:center;	
}	

.type {
	position:static;	
	margin: 200px auto auto auto;
	left:30%;
	right:30%;
	max-width:35%;
	text-align:center;	
} 

/*.type {
	position:absolute;
	top:60px;
	left:40px;
	max-width:35%;
	}*/
#calendar {
	margin:190px auto auto auto;
}	
#wrap {
	left:10%;
	right:10%;	
}	
}

@media screen and (max-width:800px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat center;
	background-size:cover;
}
h1,h2 {
	font-size:20px;	
}
#wrap {
	left:10%;
	right:10%;	
}
	
}
@media screen and (max-width:700px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat center;
	background-size:cover;
}
h1,h2 {
	font-size:20px;	
}
#wrap {
	left:7%;
	right:7%;	
}
}	
@media screen and (max-width:600px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat center;
	background-size:cover;
}
h1,h2 {
	font-size:20px;	
}
#wrap {
	left:10%;
	right:10%;	
}	
}
@media screen and (max-width:500px){
body {
	background: #231F20 url(savethedate_illustration@1080x1920_70_portrait_01.jpg) no-repeat top;
	background-size:cover;
}
h1,h2 {
	margin:auto auto auto auto;
	font-size:20px;	
}
.type {
	max-width:45%;	
} 	
#wrap {
	position:absolute;
	bottom:0;
	left:10%;
	right:10%;	
}	
}
